body {
    position:relative;
    color: #282c34; 
}

.username {
    position:absolute;
    right:100px;
    top:15px;
}

#logged-user {
    float:right;
    margin-right: 20px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}