.edit-header {
    text-align:center;
    margin:30px;
}

#editMovieForm {
    width:50%;
    margin:auto;
}

.btn-primary {
    text-decoration: none;
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    margin: 10px;
}