body{
    background-color: antiquewhite;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.movie-section {
    margin:50px;
    display:flex;
}

.movie-img {
    max-width: 500px;
    max-height: 500px;
    border-radius: 5%;
}

.movie-title {
    margin-left: 30px;
    text-align: left;
}

.movie-info {
    margin-left: 5px;
    text-align: left;
}

.movie-info-ul {
    list-style: none;
}

.actions {
    margin-left: 30px;
}

.btn-primary {
    text-decoration: none;
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
};

.btn-primary:hover {
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    text-decoration: none;
    color: white;
}

.comments-list {
    margin:50px;
}

.addComment-div {
    margin: 50px;
}

.comment-area {
    width:500px;
    height:100px;
}

.post-btn {
    color:white;
    text-decoration: none;
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    border:none;
    border-radius:5px;
    padding:5px 10px;
    display:block;
}

.post-btn:hover{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
}

.comments-ul {
    float:left;
}

.comment-li {
    list-style: none;
}

.average-rate {
    margin: 20px;
}

.owner-li {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.comment-area {
    border:solid 1px#23a2f6
}

.submit-comment-btn {
    display: block;
    text-decoration: none;
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}

.submit-comment-btn:hover {
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    text-decoration: none;
    color: white;
}